@font-face {
  font-family: Geist-regular;
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url("/src/assets/fonts/font-regular.woff2") format("woff2");
}

@font-face {
  font-family: Geist-bold;
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url("/src/assets/fonts/font-bold.woff2") format("woff2");
}

@font-face {
  font-family: Geist-italic;
  font-weight: 400;
  font-display: swap;
  font-style: italic;
  src: url("/src/assets/fonts/font-italic.woff2") format("woff2");
}
